## Ejercicios Unión de Datos
Para realizar este pair programming deberéis usar el conjunto de datos de world-data-2023-part1.csv y el de world-data-2023-part2.csv.
Hoy tenemos un dataset nuevo, en este encontraremos las siguientes columnas:
- GDP: Producto Interno Bruto, el valor total de bienes y servicios producidos en el país.
- Gross primary education enrollment (%): Tasa bruta de matriculación en educación primaria.
- Gross tertiary education enrollment (%): Tasa bruta de matriculación en educación terciaria.
- Infant mortality: Número de muertes por cada 1,000 nacidos vivos antes de cumplir un año de edad.
- Largest city: Nombre de la ciudad más grande del país.
- Life expectancy: Número promedio de años que se espera que viva un recién nacido.
- Maternal mortality ratio: Número de muertes maternas por cada 100,000 nacidos vivos.
- Minimum wage: Nivel de salario mínimo en moneda local.
- Official language: Idioma(s) oficial(es) hablado(s) en el país.
- Out of pocket health expenditure: Porcentaje del gasto total en salud pagado directamente por individuos.
- Physicians per thousand: Número de médicos por cada mil personas.
- Population: Población total del país.
- Population: Labor force participation (%): Porcentaje de la población que forma parte de la fuerza laboral.
- Tax revenue (%): Ingresos fiscales como porcentaje del PIB.
- Total tax rate: Carga fiscal total como porcentaje de las ganancias comerciales.
- Unemployment rate: Porcentaje de la fuerza laboral que está desempleada.
- Urban_population: Porcentaje de la población que vive en áreas urbanas.
- coordinates: Coordenadas de latitud y longitud de la ubicación del país.
- country: Nombre del país.

Tienes a tu disposición dos conjuntos de datos, "world-data-2023-part1.csv" y "world-data-2023-part2.csv", que contienen información de una serie de indicadores y datos de distintos países. Tu tarea es explorar estos conjuntos de datos y determinar qué tienen en común en términos de columnas y datos.

Luego, debes crear un nuevo DataFrame que combine la información de ambos conjuntos de datos en un solo conjunto de datos. Para hacerlo, debes seleccionar el método de unión de Pandas que consideres más apropiado para esta situación y justificar por qué crees que ese método es el mejor en tu informe.

Asegúrate de realizar los siguientes pasos:
1. Explora y carga ambos conjuntos de datos en pandas DataFrames.

In [43]:
import pandas as pd

In [44]:
df_world_data_1 = pd.read_csv("data/world-data-2023_part1.csv", index_col = 0)
df_world_data_2 = pd.read_csv("data/world-data-2023_part2.csv", index_col = 0)

2. Identifica las columnas comunes entre los dos conjuntos de datos.

In [45]:
df_world_data_1.columns

Index(['Country', 'Density\n(P/Km2)', 'Abbreviation', 'Agricultural Land( %)',
       'Land Area(Km2)', 'Armed Forces size', 'Birth Rate', 'Calling Code',
       'Capital/Major City', 'Co2-Emissions', 'CPI', 'CPI Change (%)',
       'Currency-Code', 'Fertility Rate', 'Forested Area (%)',
       'Gasoline Price'],
      dtype='object')

In [46]:
df_world_data_2.columns

Index(['GDP', 'Gross primary education enrollment (%)',
       'Gross tertiary education enrollment (%)', 'Infant mortality',
       'Largest city', 'Life expectancy', 'Maternal mortality ratio',
       'Minimum wage', 'Official language', 'Out of pocket health expenditure',
       'Physicians per thousand', 'Population',
       'Population: Labor force participation (%)', 'Tax revenue (%)',
       'Total tax rate', 'Unemployment rate', 'Urban_population', 'country',
       'coordinates'],
      dtype='object')

3. Utiliza el método de unión de Pandas que consideres más adecuado para combinar los datos de ambos años en un solo DataFrame.

In [47]:
df_world_data_2.rename(columns={'country': 'Country'}, inplace=True)

In [48]:
df_world_data_total = pd.merge(df_world_data_1, df_world_data_2, on='Country')
df_world_data_total.head(2)

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,...,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",...,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')"
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",...,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593","('41.153332 ', '20.168331')"

In [49]:
print(df_world_data_1.shape)
print("------")
print(df_world_data_2.shape)
print("------")
print(df_world_data_total.shape)

(195, 16)
------
(195, 19)
------
(195, 34)

4. Explica por qué elegiste ese método de unión y cómo se llevaron a cabo los pasos anteriores.

Hemos decidido usar merge para unirlas por la columna country (que tenia los mismos datos). 
Primero le hemos homogeneizado los nombres para que no nos salga repetidas las 2 columnas.

# Ejercicios de Limpieza
1. Después de la unión de datos, tenemos dos columnas de "country". Elimina una de ellas.

Como nos pasaba eso en el ejercicio anterior hemos unificado las columnas poniendoles el mismo nombre. Si no, tendríamos que usar drop()

2. Los nombres de las columnas no son homogeneos. Cambia los nombres de las columnas de tal forma que:
    - No tengan espacios.
    - Estén en minúscula.
    - No tengan paréntesis, es decir, quitar "(%)", "(Km2)".
    - Algunas columnas tiene "\n". Eliminalos de los nombres de las columnas.
    - Algunas columnas tienen ":". Eliminalos de los nombres de las columnas.

In [77]:
for columna in df_world_data_total.columns:
    columna= columna.split("(")[0].lower().replace(" ","").replace("\n","").replace(":","")
    print(columna)

country
density
abbreviation
agriculturalland
landarea
armedforcessize
birthrate
callingcode
capital/majorcity
co2-emissions
cpi
cpichange
currency-code
fertilityrate
forestedarea
gasolineprice
gdp
grossprimaryeducationenrollment
grosstertiaryeducationenrollment
infantmortality
largestcity
lifeexpectancy
maternalmortalityratio
minimumwage
officiallanguage
outofpockethealthexpenditure
physiciansperthousand
population
populationlaborforceparticipation
taxrevenue
totaltaxrate
unemploymentrate
urban_population
coordinates

In [79]:
new_columnas={columna: columna.split("(")[0].lower().replace(" ","").replace("\n","").replace(":","") for columna in df_world_data_total.columns} 
new_columnas

{'Country': 'country',
 'Density\n(P/Km2)': 'density',
 'Abbreviation': 'abbreviation',
 'Agricultural Land( %)': 'agriculturalland',
 'Land Area(Km2)': 'landarea',
 'Armed Forces size': 'armedforcessize',
 'Birth Rate': 'birthrate',
 'Calling Code': 'callingcode',
 'Capital/Major City': 'capital/majorcity',
 'Co2-Emissions': 'co2-emissions',
 'CPI': 'cpi',
 'CPI Change (%)': 'cpichange',
 'Currency-Code': 'currency-code',
 'Fertility Rate': 'fertilityrate',
 'Forested Area (%)': 'forestedarea',
 'Gasoline Price': 'gasolineprice',
 'GDP': 'gdp',
 'Gross primary education enrollment (%)': 'grossprimaryeducationenrollment',
 'Gross tertiary education enrollment (%)': 'grosstertiaryeducationenrollment',
 'Infant mortality': 'infantmortality',
 'Largest city': 'largestcity',
 'Life expectancy': 'lifeexpectancy',
 'Maternal mortality ratio': 'maternalmortalityratio',
 'Minimum wage': 'minimumwage',
 'Official language': 'officiallanguage',
 'Out of pocket health expenditure': 'outofpockethealthexpenditure',
 'Physicians per thousand': 'physiciansperthousand',
 'Population': 'population',
 'Population: Labor force participation (%)': 'populationlaborforceparticipation',
 'Tax revenue (%)': 'taxrevenue',
 'Total tax rate': 'totaltaxrate',
 'Unemployment rate': 'unemploymentrate',
 'Urban_population': 'urban_population',
 'coordinates': 'coordinates'}

In [81]:
df_world_data_total.rename(columns = new_columnas, inplace = True)
df_world_data_total.head()

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,...,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",...,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')"
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",...,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593","('41.153332 ', '20.168331')"
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",...,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100","('28.033886 ', '1.659626')"
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,...,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873","('42.506285 ', '1.521801')"
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",...,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025","('-11.202692 ', '17.873887')"

3. La columnas coordinates tiene la latitud y la longitud en una sola columna. Crea dos columnas nuevas, una con la longitud y otra con la latitud. Una vez hecho, elimina la columna de coordinates.

In [82]:
df_world_data_total["coordinates"].head(3)

0     ('33.93911 ', '67.709953')
1    ('41.153332 ', '20.168331')
2     ('28.033886 ', '1.659626')
Name: coordinates, dtype: object

In [83]:
df_world_data_total["coordinates"].str.split(",", expand= True)

                  0               1
0      ('33.93911 '    '67.709953')
1     ('41.153332 '    '20.168331')
2     ('28.033886 '     '1.659626')
3     ('42.506285 '     '1.521801')
4    ('-11.202692 '    '17.873887')
..              ...             ...
190     ('6.42375 '    '-66.58973')
191   ('14.058324 '   '108.277199')
192   ('15.552727 '    '48.516388')
193  ('-13.133897 '    '27.849332')
194  ('-19.015438 '    '29.154857')

[195 rows x 2 columns]

In [85]:
df_world_data_total[["latitud", "longitud"]] = df_world_data_total["coordinates"].str.split(",", expand= True)
df_world_data_total.head(2)

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,...,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,coordinates,latitud,longitud
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",...,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')",('33.93911 ','67.709953')
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",...,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593","('41.153332 ', '20.168331')",('41.153332 ','20.168331')

In [88]:
df_world_data_total.drop(["coordinates"], axis = 1, inplace = True)

In [89]:
df_world_data_total.head(2)

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,...,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,latitud,longitud
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",...,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",('33.93911 ','67.709953')
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",...,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",('41.153332 ','20.168331')

4. Las columnas unemployment_rate, total_tax_rate, tax_revenue, population_labor_force_participation, out_of_pocket_health_expenditure, gross_tertiary_education_enrollment, gross_primary_education_enrollment, forested_area, cpi_change, agricultural_land tienen "%". Elimina los "%" de los valores de las columnas.

In [97]:
pd.set_option('display.max_columns', None)

In [98]:
#Hemos visto diferencias en los nombres por guiones bajos, hemos modificado a mano, pero podríamos haber hecho lo de el ejercicio de arriba iterando por los nombres
lista_columnas = ["unemploymentrate", "totaltaxrate", "taxrevenue", "populationlaborforceparticipation", "outofpockethealthexpenditure", "grosstertiaryeducationenrollment", "grossprimaryeducationenrollment", "forestedarea", "cpichange", "agriculturalland"]
for columna in lista_columnas:
    df_world_data_total[columna] = df_world_data_total[columna].str.replace("%", "") 

df_world_data_total.head(2)

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,latitud,longitud
0,Afghanistan,60,AF,58.10,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30,AFN,4.47,2.10,$0.70,"$19,101,353,833",104.00,9.70,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40,0.28,"38,041,754",48.90,9.30,71.40,11.12,"9,797,273",('33.93911 ','67.709953')
1,Albania,105,AL,43.10,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40,ALL,1.62,28.10,$1.36,"$15,278,077,447",107.00,55.00,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90,1.20,"2,854,191",55.70,18.60,36.60,12.33,"1,747,593",('41.153332 ','20.168331')

5. Haz lo mismo para las columnas de gasoline_price, gdp, minimum_wage, pero eliminando "$".

In [102]:
lista_columnas_precios = ["gasolineprice", "gdp", "minimumwage"]
for columna in lista_columnas_precios:
    df_world_data_total[columna] = df_world_data_total[columna].str.replace("$", "")

df_world_data_total.head(2)

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,latitud,longitud
0,Afghanistan,60,AF,58.10,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30,AFN,4.47,2.10,0.70,"19,101,353,833",104.00,9.70,47.9,Kabul,64.5,638.0,0.43,Pashto,78.40,0.28,"38,041,754",48.90,9.30,71.40,11.12,"9,797,273",('33.93911 ','67.709953')
1,Albania,105,AL,43.10,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40,ALL,1.62,28.10,1.36,"15,278,077,447",107.00,55.00,7.8,Tirana,78.5,15.0,1.12,Albanian,56.90,1.20,"2,854,191",55.70,18.60,36.60,12.33,"1,747,593",('41.153332 ','20.168331')

6. Guarda el DataFrame para usarlo en el pairprogramming de mañana.

In [103]:
df_world_data_total.to_csv("data/df_world_data_total.csv", index= False)

# Ejercicios de Filtrado
1. Encuentra todos los países cuya mortalidad infantil esté entre 40 y 50 personas por kilómetro cuadrado.

In [112]:
df_mortality = df_world_data_total[df_world_data_total["infantmortality"].between(40, 50, inclusive="both")]
df_mortality[["country","infantmortality"]].head()

         country  infantmortality
0    Afghanistan             47.9
26  Burkina Faso             49.0
27       Burundi             41.0
47      Djibouti             49.8
72         Haiti             49.5

In [118]:
df_world_data_total["country"][df_world_data_total["infantmortality"].between(40, 50, inclusive="both")]

0       Afghanistan
26     Burkina Faso
27          Burundi
47         Djibouti
72            Haiti
89         Kiribati
125           Niger
166           Sudan
175            Togo
192           Yemen
193          Zambia
Name: country, dtype: object

2. Encuentra los países cuyas tasas de natalidad son mayores o iguales a 20 y su esperanza de vida es mayor de 75 años.

In [119]:
df_world_data_total["country"][(df_world_data_total["birthrate"] >= 20) & (df_world_data_total["lifeexpectancy"] > 75)]

     country
2    Algeria
74  Honduras
82    Israel

3. Encuentra las ciudades cuyos paises contienen la palabra "la" en su nombre.

In [120]:
import re

In [125]:
#No hay ninguno con "la" como palabra 
df_world_data_total["capital/majorcity"][df_world_data_total["country"].str.contains(r'\bla\b')]

Series([], Name: capital/majorcity, dtype: object)

In [132]:
#No hay ninguno con "la" como palabra así que vamos a suponer que es parte de una palabra
df_world_data_total["capital/majorcity"][df_world_data_total["country"].str.contains(r'.*la.*')]

4              Luanda
13              Dhaka
15              Minsk
59           Helsinki
68     Guatemala City
76          Reykjav��
81             Dublin
102          Lilongwe
103      Kuala Lumpur
107            Majuro
122         Amsterdam
123        Wellington
132         Ngerulmud
139            Warsaw
159           Honiara
169              Bern
173           Bangkok
190           Caracas
Name: capital/majorcity, dtype: object

4. Encuentra los países cuyos medicos por cada 1000 habitantes (physicians_per_thousand) sea mayores de 5.

In [134]:
df_world_data_total["country"][(df_world_data_total["physiciansperthousand"] > 5)]

9         Austria
15        Belarus
42           Cuba
63        Georgia
66         Greece
99      Lithuania
113        Monaco
140      Portugal
149    San Marino
187       Uruguay
Name: country, dtype: object

5. Encuentra los países cuyatasa de fertilidad sea mayor a 6.

In [135]:
df_world_data_total[["country","fertilityrate"]][(df_world_data_total["fertilityrate"] > 6)]

     country  fertilityrate
125    Niger           6.91
160  Somalia           6.07

6. Encuentra los países cuya moneda es el euro (EUR) y tienen una tasa de natalidad superior al promedio.

In [142]:
import numpy as np

In [146]:
media = df_world_data_total["birthrate"].mean()

df_world_data_total["country"][(df_world_data_total["birthrate"] > media) & df_world_data_total["currency-code"]=="EUR"]

Series([], Name: country, dtype: object)

In [149]:
media

20.214973544973546

In [148]:
df_world_data_total["birthrate"].min()

5.9

7. Encuentra los países cuyas tasas de mortalidad infantil son superiores a 70.

In [151]:
df_world_data_total[["country","infantmortality"]][df_world_data_total["infantmortality"] > 70]

                      country  infantmortality
33   Central African Republic             84.5
34                       Chad             71.4
126                   Nigeria             75.7
155              Sierra Leone             78.5
160                   Somalia             76.6